{% extends "core/base.html" %}
{% load foundation %}
{% load bootstrap4 %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Edit Profile" %}{% endblock title %}

{% block css %}
    {% include "common/elements/edit_profile_css_block.html" %}
{% endblock %}

{% block body %}
    ciao
<div class="row">
    <div class="col m3">
        {% bootstrap_field form.salutation %}
    </div>
    <div class="col m3">
        {% bootstrap_field form.first_name %}
    </div>
    <div class="col m3">
        {% bootstrap_field form.middle_name %}
    </div>
    <div class="col m3">
        {% bootstrap_field form.last_name %}
    </div>
</div>
<div class="row">
    <div class="col m3">
        {% bootstrap_field form.profession %}
    </div>
</div>
{% endblock body %}

{% block js %}
    {% include "common/elements/edit_profile_js_block.html" %}
{% endblock %}
